<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>empty flow</title>
		{% load staticfiles %}
    <!-- Bootstrap core CSS -->

    <script src="{% static 'jquery/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'typed/typed.js' %}"></script>
		<link rel="icon" type="image/png" href="{% static 'img/eficon.png' %}" >
    <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
    <script type="text/javascript" src="{% static 'personal/js/bootstrap.min.js' %}"></script>

  </head>

  <body class = "body" style = "background-color:#f6f6f6; padding-top: 70px; height: 100%;" >

    <nav class="navbar navbar-inverse navbar-fixed-top nav-down" style = "background-color:#404040">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src = "{% static 'img/ef_logo.png' %}" style="width:140px;height:35px;"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/games/">Games</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" id="page_effect" style="display:none;">
			{% block content %}
			{% endblock %}
      <div class="starter-template">
			</div>
    </div><!-- /.container -->

    <hr>
    <footer>
      <p class="text-muted" style = "text-align: center;">&copy; empty-flow. All rights reserved. Theme by Bootstrap</p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script>
      $(document).ready(function(){
        //$('.navbar-nav').on('click', 'li', function(){
          // get click
        //  $(".navbar-nav li.active").removeClass("active");
        //  $(this).addClass("active")
          // have active change
      //  });
        //$('nav a[href^="/' + location.pathname.split("/")[1] +'"]').addClass("active");
        $(".element").css({"font-size": "200%"});
        $(".nav-up").css({"top": "-40px"});
        $(".element").typed({
          strings: ["I am <b>A.Wake</b>", "I am <b>Alan Wake</b>"],
          typeSpeed: 0,
          loop: true
        });
        $('#page_effect').fadeIn(2000);
        var $didScroll;
        var $lastScrollTop = 0;
        var $delta = 5;
        var $navbarHeight = $('nav').outerHeight();

        $(window).scroll(function(event){
          $didScroll = true;
        });

        setInterval(function(){
          if($didScroll){
            $hasScrolled();
            $didScroll = false;
          }
        }, 250);

        function $hasScrolled(){
          var $strt = $(this).scrollTop();

          if(Math.abs($lastScrollTop - $strt) <= $delta) return;

          if($strt > $lastScrollTop && $strt > $navbarHeight){
            $("nav").fadeOut();
          }
          else{
            if($strt + $(window).height() < $(document).height()){
              $('nav').fadeIn();
            }
          }
          $lastScrollTop = $strt;
        }
      });
    </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
