{% extends "personal/header.html" %}
{% load staticfiles %}
{% load inc_register %}
{% block content %}
<div class = "divs"><img src = "{% static 'img/Test.png' %}">
</div>
<div class="container marketing">
<hr>
{% show_about %}
<hr>
{% include "blog/blog_carousel.html" %}
<hr>
{% include "games/games_carousel.html" %}
</div>
<script>
  $(document).ready(function(){
    //$('.divs').css({"display":"block"});
    $('.divs').css({"margin":"auto"});
    //$('.divs').css({"width":"40%"});
  });
</script>
{% endblock %}
