{% extends "personal/header.html" %}
{% load staticfiles %}
{% load extra %}
{% block content %}


  <div id = "header-img" class="text-center">
    <div class="paragraph_pads"><span class="typewriter"></span>
    </div>
    </div>
<div class="container div_pads" id="page_effect">
{% about_us %}
</div>
<div style="background-color:#404040;">
<div class="container div_pads" id="page_effect">
{% blog_record %}
</div>
</div>
<div class="container" id="page_effect">
{% game_record %}
</div>
{% endblock content%}
