
{% block content %}
<div class="row" style="color:white;">
  <h2 class="texts"><b>ABOUT US</b></h2>
  <p class="paragraph_pads homepage_p">empty-flow is a small group of game developers focused on creating story driven games with simple and accessible gameplay.<br />
  We believe the secret ingredient to a great game is love. <br />Build the game you want, and love the whole difficult, teeth-grinding, and head smashing process of it.</p>
</div><!-- /.row -->
<script>
  $(document).ready(function(){

  });
</script>
{% endblock %}
