{% block content %}
<h2 class="text-center"><b>LATEST UPDATES</b></h2>

  <div class="paragraph_pads">
    {% for post in blog_list %}
    <div class="col-sm-6 col-md-4" width="300" height="500">
      <div class="thumbnail" style="background-color:black;">
        <div class="caption">
          <h2 style="color:white;">{{post.title}}</h2>
          <h3><small>by {{post.author}} | Published: {{post.date}}</small></h3>
          <p>...</p>
          <p><a href="/blog/{{post.id}}" class="btn btn-info" role="button">Read More</a></p>


        </div>
      </div>

    </div>
    {% endfor %}
    <p style="text-align:center;"><a href="/blog/" class="btn btn-info" role="button">More Posts</a></p>
  </div>

{% endblock content %}
